<!-- определяет базовый template, который будет использоваться на остальных страницах -->
<!DOCTYPE html>
<thml>
    <head>
        <title>Тестовое задание</title>
        <!-- Подключает bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div style="margin: 2%">
            <div class="jumbotron">
                <div class="container">
                  <h1 class="display-3">Здравствуйте, {{ request.user }}</h1>
                  <p>На данной странице вы найдёте решение для тестового задания.</p>
                </div>
            </div>

            <div>
                {% block content %}
                {% endblock %}
            </div>
            
            <br>
            <div class="alert alert-primary" role="alert">
                Made by: Богданов В.
            </div>
        </div>
    </body>
</thml>