<!-- указывает, что данный html код будет расширять базовый template (base.html) -->
{% extends 'base.html' %}

{% block content %}
<table class="table table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 10%;">Имя пользователя</th>
        <th scope="col" style="width: 20%;">Тема поста</th>
        <th scope="col" style="width: 70%;">Текст поста</th>
      </tr>
    </thead>
    <tbody>
      <!-- Подключаем созданный в ручную метод для template (позволяет получать значения из словаря по ключу, что необходимо для
           обхода ограничений template) -->
      {% for post in posts %}
      <tr>
        <td>{{post.user.user.first_name}} {{post.user.user.last_name}} ({{post.user.user.username}})</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
